<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Car</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body">
  <nav class="d-flex navbar1 justify-content-between">
    <h1 class="userWelcome"> {{loggedUser.first_name}} {{loggedUser.last_name}}</h1>

      <div class="d-flex justify-content-between">
        <a href="/" class="logout1">Faqja Kryesore</a>  
        <a class="logout" href="/logout">Dilni</a>
    </div>
  </nav>
    

    <form enctype="multipart/form-data" class="w-50 m-auto p-5 border rounded  bg-light  mt-3" action="/create/car" method="post">
        <h4 class="text-center">Ju lutem shtoni makinën në sistem</h4>
        <div class="form-row">
            <label  for="plates">Targa:</label>
            <input type="text" class="form-control" name="plates" placeholder="Vendosni targën e mjetit">
        </div>
        {% with messages = get_flashed_messages(category_filter=["platesCar"]) %}
        {% if messages %}
        {% for message in messages %}
        <p class="text-danger text-center">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="form-row">
          <label  for="distance">Distanca:</label>
          <input type="text" class="form-control" name="distance" placeholder="Afërsisht sa larg do jeni nga makina">
        </div>
        {% with messages = get_flashed_messages(category_filter=["distanceCar"]) %}
        {% if messages %}
        {% for message in messages %}
        <p class="text-danger text-center">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <button class="mt-2 btn btn-success">Shto</button>
</body>
</html>